<a href="https://colab.research.google.com/github/20192931/AImobility/blob/main/3_1_%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%94%84%EB%A0%88%EC%9E%84_%EA%B8%B0%EC%B4%88%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **01** 데이터 프레임 만들기 - 시험 성적 데이터를 만들기

####1. pandas 패키지 로드하기

In [ ]:
import pandas as pd

####2. 데이터 프레임 만들기

In [ ]:
df = pd.DataFrame({'name'    : ['김지훈', '이유진', '박동현', '김민지'],
                   'english' : [90, 80, 60, 70],
                   'math'    : [50, 60, 100, 20]})
df

  name  english  math
0  김지훈       90    50
1  이유진       80    60
2  박동현       60   100
3  김민지       70    20

####4. 데이터 프레임으로 분석하기
1) 특정 변숫값(column) 추출

In [ ]:
df['english']

0    90
1    80
2    60
3    70
Name: english, dtype: int64

2) 변숫로 값구하기

In [ ]:
sum(df['english'])

300

In [ ]:
sum(df['math'])

230

In [ ]:
sum(df['english']) / 4  # 영어 점수 평균

75.0

In [ ]:
sum(df['math']) / 4     # 수학 점수 평균

57.5

###**02** 외부 데이터 사용하기


1) 데이터 불러와 df_exam에 할당하기
*   !gdown  사용 방법
https://lapina.tistory.com/140

In [ ]:
!gdown 1Oimtl-P9PVV4qfFdFcYbOGfn6aeJvAk-

Downloading...
From: https://drive.google.com/uc?id=1Oimtl-P9PVV4qfFdFcYbOGfn6aeJvAk-
To: /content/excel_exam.xlsx
100% 10.3k/10.3k [00:00<00:00, 15.0MB/s]

In [ ]:
df_exam = pd.read_excel('excel_exam.xlsx')  # 엑셀 파일을 불러와 df_exam에 할당
df_exam

2) 분석하기

❶ 평균 계산하기

In [ ]:
sum(df_exam['english']) / 20

84.9

In [ ]:
sum(df_exam['science']) / 20

59.45

In [ ]:
# df_exam의 행 개수 구하기
len(df_exam)

20

In [ ]:
sum(df_exam['english']) / len(df_exam)

84.9

In [ ]:
sum(df_exam['science']) / len(df_exam)

59.45

3) csv파일 불러오기

In [ ]:
!gdown 1PLWdYU6X-aR7meqRBJRf3CWe0y70DiXL

Downloading...
From: https://drive.google.com/uc?id=1PLWdYU6X-aR7meqRBJRf3CWe0y70DiXL
To: /content/exam.csv
100% 302/302 [00:00<00:00, 786kB/s]

In [ ]:
df_csv_exam = pd.read_csv('exam.csv')
df_csv_exam

4) 데이터 프레임을 csv 파일로 저장하기

In [ ]:
df_midterm = pd.DataFrame({'english' : [90, 80, 60, 70],
                           'math'    : [50, 60, 100, 20],
                           'nclass'  : [1, 1, 2, 2]})
df_midterm

   english  math  nclass
0       90    50       1
1       80    60       1
2       60   100       2
3       70    20       2

In [ ]:
df.to_csv('output_newdata.csv')

In [ ]:
df_midterm.to_csv('output_newdata.csv', index = False) #인덱스 없이 저장